@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LAVO CAR EMBELEZE</h1>
    <h3>Seu carro brilhando como você nunca viu</h3>
    <img src="~/img/carroLogoLavoCar.png" class="logo" />
</div>
