
@{
    ViewData["Title"] = "Index";
}


<div class="text-center">
    <h1 class="display-4">SOBRE NÓS</h1>

    <p>
        LavoCar é uma empresa de lavagem e embelezamento de carros há anos no mercado, especializada em limpeza automotiva.
    </p>

    <img class="carroSobre" src="~/img/carro1.png" />
    <p>
        Não importa se seu veículo é um carro de luxo, ou um modelo clássico, atenderemos suas necessidades
        e garantimos um serviço rápido e de qualidade.
    </p>
    <img class="carroSobre" src="~/img/carro2.jpg" />
    <p>
        Premiado com o WashKing troféu, a LavoCar Embeleze está a sua disposição, entre em contato e faça um
        orçamento.<br /><br />
        <img src="~/img/telefone.png" class="miniico"/> Tel.: (79) 9 9928-3999
    </p>

</div>