@model LavoCar.Controllers.Reparo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reparo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReparoID" />
            <div class="form-group">
                <label asp-for="DataReparo" class="control-label"></label>
                <input asp-for="DataReparo" class="form-control" />
                <span asp-validation-for="DataReparo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CarroID" class="control-label"> Carro</label>
                @* <select asp-for="CarroID" class="form-control" asp-items=@(new SelectList(ViewBag.Carros, "CarroID", "Placa"))></select> *@
                <select asp-for="CarroID" class="form-control" asp-items=@ViewBag.Carros></select>
                <span asp-validation-for="CarroID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoReparoID" class="control-label"> Tipo do Reparo</label>
                @* <select asp-for="TipoReparoID" class="form-control" asp-items=@(new SelectList(ViewBag.TipoReparos, "TipoReparoID", "DescTipoReparo"))></select> *@
                <select asp-for="TipoReparoID" class="form-control" asp-items=@ViewBag.TipoReparos></select>
                <span asp-validation-for="TipoReparoID" class="text-danger"></span>
            </div>

            <div class="form-group">
            <div class="col-sm-4">
                Valor Reparo
            </div>
            <div class="col-sm-8">
                R$ @Html.DisplayFor(model => model.TipoReparo.PrecoTipoReparo),00
            </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
