@model LavoCar.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Novo</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"></label>
                <input asp-for="NomeCliente" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndCliente" class="control-label"></label>
                <input asp-for="EndCliente" class="form-control" />
                <span asp-validation-for="EndCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoneCliente" class="control-label"></label>
                <input asp-for="FoneCliente" class="form-control" />
                <span asp-validation-for="FoneCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
